<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>包貨小精靈</Name>
    <Version>1.0.0</Version>
    <Title>包貨小精靈 安裝程式</Title>
    <Publisher>Meridian</Publisher>
    <StartMenuDir>包貨小精靈</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Meridian</TargetDir>
    <ControlScript>../scripts/scripts.qs</ControlScript>
</Installer>
